CARDS_Schema_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Version 1.0 -->
  <!--<xs:include schemaLocation="ACRAssist_xml_schema.xsd"/>-->
  <xs:element name="ReportingModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="DataElements"/>
        <xs:element ref="Rules"/>
        <xs:element ref="EndPoints"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="Citation">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="Citation"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="Citation">
    <xs:complexType mixed="true">
      <xs:attribute name="PubmedId" type="xs:token"/>
      <xs:attribute name="Url" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <!-- definitions for other parts of the schema -->
  <xs:attributeGroup name="codingSystemAttr">
    <xs:attribute name="CodingSystem" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="codeAttrs">
    <xs:attribute name="CodingSystem"/>
    <xs:attribute name="Code" use="required" type="xs:token"/>
  </xs:attributeGroup>
  <xs:element name="Diagnosis">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="codeAttrs"/>
    </xs:complexType>
  </xs:element>
  <!-- Exam = element Exam { codeAttrs, text } #this is not being used anywhere, but should be used in Followup Exams -->
  <xs:element name="Modality">
    <xs:complexType>
      <xs:attributeGroup ref="codeAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BodyRegion">
    <xs:complexType>
      <xs:attributeGroup ref="codeAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="imageElements">
    <xs:sequence>
      <xs:element ref="Location"/>
      <xs:element minOccurs="0" ref="Label"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="Location" type="xs:string"/>
  <xs:element name="Label" type="xs:string"/>
  <!-- start of the next Section Data Elements -->
  <xs:element name="DataElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DataElementTypes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataElementTypes" abstract="true"/>
  <xs:element name="GlobalValue" substitutionGroup="DataElementTypes">
    <xs:complexType mixed="true">
      <xs:attribute name="Id" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Diagrams">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Diagram"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Diagram">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Location"/>
        <xs:element ref="Label"/>
      </xs:sequence>
      <xs:attribute name="DisplaySequence" type="xs:integer"/>
      <xs:attribute name="IsKeyDiagram">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="DisplaySequence">
    <xs:attribute name="DisplaySequence" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="baseElementContents">
    <xs:sequence>
      <xs:element minOccurs="0" ref="CodableConcept"/>
      <xs:element ref="Label"/>
      <xs:element minOccurs="0" ref="Hint"/>
      <xs:element minOccurs="0" ref="Diagrams"/>
      <xs:element minOccurs="0" ref="VoiceCommand"/>
    </xs:sequence>
    <xs:attribute name="Id" use="required" type="xs:ID"/>
    <xs:attribute name="CdeId" type="xs:token"/>
    <xs:attribute name="IsRequired">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="DisplaySequence">
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Editable">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Hasprefilled">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Output">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Unit"/>
    <xs:attribute name="SourceFilled"/>
  </xs:complexType>
  <xs:element name="Hint" type="xs:string"/>
  <xs:element name="VoiceCommand" type="xs:string"/>
  <xs:element name="CodableConcept">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="Coding"/>
      <xs:attribute name="Name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="Coding">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="Coding"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="Coding">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="System"/>
        <xs:element ref="Version"/>
        <xs:element ref="Code"/>
        <xs:element ref="Display"/>
        <xs:element minOccurs="0" ref="UserSelected"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="System">
    <xs:complexType>
      <xs:attribute name="Value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Version">
    <xs:complexType>
      <xs:attribute name="Value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Code">
    <xs:complexType>
      <xs:attribute name="Value" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Display">
    <xs:complexType>
      <xs:attribute name="Value" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserSelected">
    <xs:complexType>
      <xs:attribute name="Value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChoiceNotRelevant">
    <xs:complexType>
      <xs:attribute name="ChoiceValue" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="baseConditionalPropertyContents">
    <xs:sequence>
      <xs:element ref="ConditionType"/>
      <xs:element minOccurs="0" ref="IsRelevant"/>
      <xs:element minOccurs="0" ref="IsRequired"/>
      <xs:element minOccurs="0" ref="DisplaySequence"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="IsRelevant">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="IsRequired">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DisplaySequence" type="xs:integer"/>
  <xs:group name="choiceConditionalProperty">
    <xs:sequence>
      <xs:element name="ConditionalProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="baseConditionalPropertyContents"/>
            <xs:element minOccurs="0" ref="ChoiceNotRelevant"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="numericConditionalProperty">
    <xs:sequence>
      <xs:element name="ConditionalProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="baseConditionalPropertyContents"/>
            <xs:element minOccurs="0" name="Minimum" type="xs:integer"/>
            <xs:element minOccurs="0" name="Maximum" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="computedValue" abstract="true"/>
  <xs:element name="ArithmeticExpression" substitutionGroup="computedValue" type="xs:string"/>
  <xs:element name="TextExpression" substitutionGroup="computedValue">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="InsertValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="valueBranches">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="Branch"/>
      <xs:element minOccurs="0" ref="DefaultBranch"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Branch">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ConditionType"/>
        <xs:choice>
          <xs:element ref="computedValue"/>
          <xs:group ref="valueDecisionPoint"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefaultBranch">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="computedValue"/>
        <xs:group ref="valueDecisionPoint"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:group name="valueDecisionPoint">
    <xs:sequence>
      <xs:element name="DecisionPoint" type="valueBranches"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="ComputedDataElement" substitutionGroup="DataElementTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Label"/>
        <xs:element minOccurs="0" ref="Hint"/>
        <xs:element minOccurs="0" ref="Diagrams"/>
        <xs:choice>
          <xs:element ref="computedValue"/>
          <xs:group ref="valueDecisionPoint"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="Id" use="required" type="xs:ID"/>
      <xs:attribute name="DisplaySequence">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ShowValue">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumericDataElement" substitutionGroup="DataElementTypes">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseElementContents">
          <xs:sequence>
            <xs:element minOccurs="0" name="Minimum" type="xs:decimal"/>
            <xs:element minOccurs="0" name="Maximum" type="xs:decimal"/>
            <xs:element minOccurs="0" name="ConditionalProperties">
              <xs:complexType>
                <xs:group maxOccurs="unbounded" ref="numericConditionalProperty"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntegerDataElement" substitutionGroup="DataElementTypes">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseElementContents">
          <xs:sequence>
            <xs:element minOccurs="0" name="Minimum" type="xs:integer"/>
            <xs:element minOccurs="0" name="Maximum" type="xs:integer"/>
            <xs:element minOccurs="0" name="ConditionalProperties">
              <xs:complexType>
                <xs:group maxOccurs="unbounded" ref="numericConditionalProperty"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateTimeDataElement" substitutionGroup="DataElementTypes">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseElementContents">
          <xs:sequence>
            <xs:element ref="Format"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Format" type="xs:string"/>
  <xs:element name="DurationDataElement" substitutionGroup="DataElementTypes"
    type="baseElementContents"/>
  <xs:element name="Choice">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Value"/>
        <xs:element ref="Label"/>
        <xs:element minOccurs="0" ref="Hint"/>
        <xs:element minOccurs="0" ref="VoiceCommand"/>
        <xs:element minOccurs="0" name="ReportText" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="IsDefault">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="Value" type="xs:token"/>
  <xs:element name="ChoiceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Choice"/>
        <xs:element maxOccurs="unbounded" ref="Choice"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="imageMapStyleAttributes">
    <xs:attribute name="Outline"/>
    <xs:attribute name="HoverFill"/>
    <xs:attribute name="SelectedFill"/>
  </xs:attributeGroup>
  <xs:element name="ImageMap">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="imageElements"/>
        <xs:element minOccurs="0" ref="DrawStyle"/>
        <xs:element ref="Map"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawStyle">
    <xs:complexType>
      <xs:attributeGroup ref="imageMapStyleAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Map">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Area"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Area">
    <xs:complexType>
      <xs:attribute name="Shape" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="rect"/>
            <xs:enumeration value="poly"/>
            <xs:enumeration value="circle"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Coords" use="required"/>
      <xs:attribute name="ChoiceValue" use="required" type="xs:token"/>
      <xs:attributeGroup ref="imageMapStyleAttributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChoiceDataElement" substitutionGroup="DataElementTypes">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseElementContents">
          <xs:sequence>
            <xs:element ref="ChoiceInfo"/>
            <xs:element minOccurs="0" name="ConditionalProperties">
              <xs:complexType>
                <xs:group maxOccurs="unbounded" ref="choiceConditionalProperty"/>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="ImageMap"/>
          </xs:sequence>
          <xs:attribute name="AllowFreetext">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiChoiceDataElement" substitutionGroup="DataElementTypes">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="baseElementContents">
          <xs:sequence>
            <xs:element ref="ChoiceInfo"/>
            <xs:element minOccurs="0" name="ConditionalProperties">
              <xs:complexType>
                <xs:group maxOccurs="unbounded" ref="choiceConditionalProperty"/>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="ImageMap"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <!-- Start of next section (RULES) -->
  <xs:element name="ConditionType" abstract="true"/>
  <xs:element name="AndCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ConditionType"/>
        <xs:element maxOccurs="unbounded" ref="ConditionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ConditionType"/>
        <xs:element maxOccurs="unbounded" ref="ConditionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ConditionType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="dataElementIdAttribute">
    <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="comparisonConditionContents">
    <xs:attributeGroup ref="dataElementIdAttribute"/>
    <xs:attribute name="ComparisonValue" use="required" type="xs:token"/>
  </xs:attributeGroup>
  <xs:element name="EqualCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:attributeGroup ref="comparisonConditionContents"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreaterThanCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:attributeGroup ref="comparisonConditionContents"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessThanCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:attributeGroup ref="comparisonConditionContents"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GreaterThanOrEqualsCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:attributeGroup ref="comparisonConditionContents"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="LessThanOrEqualsCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:attributeGroup ref="comparisonConditionContents"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasAnyNChoicesCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:attributeGroup ref="dataElementIdAttribute"/>
      <xs:attribute name="MinimumChoices" use="required" type="xs:positiveInteger"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContainsCondition" substitutionGroup="ConditionType">
    <xs:complexType>
      <xs:attributeGroup ref="dataElementIdAttribute"/>
      <xs:attribute name="ComparisonValue" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rules">
    <xs:complexType>
      <xs:group ref="DecisionPoint"/>
    </xs:complexType>
  </xs:element>
  <!-- { branchModifiers, DecisionPoint } -->
  <xs:element name="DataElementRef">
    <xs:complexType>
      <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChoiceRef">
    <xs:complexType>
      <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
      <xs:attribute name="ChoiceValue" use="required" type="xs:token"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="branchModifiers">
    <xs:sequence>
      <xs:element minOccurs="0" ref="NotRelevantDataElements"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="NotRelevantDataElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="DataElementRef"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--
    element RelevantDataElements { DataElementRef+ }?,
    element NotValidChoices { ChoiceRef+ }?
  -->
  <xs:group name="DecisionPoint">
    <xs:sequence>
      <xs:element name="DecisionPoint">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Label"/>
            <xs:element minOccurs="0" ref="Description"/>
            <xs:element maxOccurs="unbounded" name="Branch">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" ref="Label"/>
                  <xs:group ref="branchModifiers"/>
                  <xs:element ref="ConditionType"/>
                  <xs:choice>
                    <xs:element ref="EndPointRef"/>
                    <xs:group ref="DecisionPoint"/>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="DefaultBranch">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" ref="Label"/>
                  <xs:group ref="branchModifiers"/>
                  <xs:choice>
                    <xs:element ref="EndPointRef"/>
                    <xs:group ref="DecisionPoint"/>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="Id" use="required" type="xs:ID"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="Description" type="xs:string"/>
  <!-- Begin ENDPOINTS Section -->
  <xs:element name="EndPointRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Label"/>
        <xs:element minOccurs="0" ref="Description"/>
      </xs:sequence>
      <xs:attribute name="EndPointId" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="TemplatePartial"/>
        <xs:element maxOccurs="unbounded" ref="EndPoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TemplatePartial">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TextTemplateContent">
          <xs:attribute name="Id" use="required" type="xs:ID"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="EndPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Label"/>
        <xs:element minOccurs="0" ref="Diagnosis"/>
        <xs:element ref="ReportTexts"/>
        <xs:element minOccurs="0" ref="ActionableFinding"/>
        <xs:element minOccurs="0" ref="ImagingFollowup"/>
      </xs:sequence>
      <xs:attribute name="Id" use="required" type="xs:ID"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportTexts">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="ReportText"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="ReportText">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="ReportText"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="ReportText">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TextTemplateContent">
          <xs:attributeGroup ref="sectionIdAttr"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="sectionIdAttr">
    <xs:attribute name="SectionId" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="findings"/>
          <xs:enumeration value="impression"/>
          <xs:enumeration value="recommendation"/>
          <xs:enumeration value="impressionRecommendation"/>
          <xs:enumeration value="citation"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="recommendationBase">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ClinicalCondition"/>
      <xs:element minOccurs="0" ref="References"/>
      <xs:element minOccurs="0" ref="EvidenceLevel"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="ClinicalCondition" type="xs:string"/>
  <xs:element name="References">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="Citation"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvidenceLevel">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:token">
          <xs:attributeGroup ref="codingSystemAttr"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecommendedTimeFrame">
    <xs:complexType>
      <xs:attribute name="Earliest" use="required" type="xs:duration"/>
      <xs:attribute name="Latest" type="xs:duration"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImagingFollowup">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="recommendationBase"/>
        <xs:element ref="PreferredImagingExam"/>
        <xs:element ref="AcceptableImagingExams"/>
        <xs:element ref="IndicationForFollowup"/>
        <xs:element ref="RecommendedTimeFrame"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreferredImagingExam">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="codeAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptableImagingExams">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Exam"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicationForFollowup">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="codeAttrs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActionableFinding">
    <xs:complexType>
      <xs:attribute name="Category" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Exam">
    <xs:complexType mixed="true">
      <xs:attribute name="Code" use="required"/>
      <xs:attribute name="CodeSystem" use="required"/>
      <xs:attribute name="Modality" use="required"/>
      <xs:attribute name="BodyRegion" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TextTemplateContent" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="templateTags"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="templateTags" abstract="true"/>
  <xs:element name="InsertValue" substitutionGroup="templateTags">
    <xs:complexType>
      <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
      <xs:attribute name="SignificantDigits" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPartial" substitutionGroup="templateTags">
    <xs:complexType>
      <xs:attribute name="PartialId" use="required" type="xs:IDREF"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionIf" substitutionGroup="templateTags">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TextTemplateContent">
          <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionIfValue" substitutionGroup="templateTags">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TextTemplateContent">
          <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
          <xs:attribute name="ComparisonValue" use="required" type="xs:token"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionIfNot" substitutionGroup="templateTags">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TextTemplateContent">
          <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="SectionIfValueNot" substitutionGroup="templateTags">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="TextTemplateContent">
          <xs:attribute name="DataElementId" use="required" type="xs:IDREF"/>
          <xs:attribute name="ComparisonValue" use="required" type="xs:token"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>
